*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

p{
    padding-right: 105px;
}

h2{
    margin-bottom: 0 !important;
}

hr.cyan{
    width: 25%;
    border-top: 2px solid #21DCC1;
    opacity: 1;
    margin: 0 !important;
}

.m-section{
    margin-top: 125px;
}

.pb-35{
    padding-bottom: 35px;
}

.pt-35{
    padding-top: 35px;
}

.pb-40{
    padding-bottom: 35px;
}

.pb-65{
    padding-bottom: 65px;
}

.pb-70{
    padding-bottom: 70px;
}

.pb-120{
    padding-bottom: 120px;
}

.fw-700{
    font-weight: 700;
}

.text-small{
    font-size: 14px;
}

.my-btn{
    color: white;
    padding: 10px 15px;
    background-color: #21DCC1;
    border-radius: 25px;
    text-decoration: none;
}

.cyan{
    color: #21DCC1;
}

.border-cyan{
    border-width: 25%;
    border-bottom: 1px solid #21DCC1;
}

/* color cyan: # */